$orange: #FF8000;
$green: #00E054;
$blue: #40BCF4;

$yellow: #f4bc40;
$pink: #f440bc;
$green: #40f4bc;


$inverted-green: #ff1fab;
$inverted-orange: #007fff;
$inverted-blue: #bf430b;

$white: #EBEEF0;
$bluegrey: #475772;
$blueblack: #14181C;