@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
@import 'mixins';



$fa-font-path : '~font-awesome/fonts';
$graphik-regular-web-font: Graphik-Regular-Web, sans-serif;

$graphik-semibold-web-font: Graphik-Semibold-Web,sans-serif;