.tagline {
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 1.53846154;
    margin: 20px 0 10px;
    text-transform: uppercase;
}