Track books you’ve read.
Save those you want to read.
Tell your friends what’s good. 


<section id="highlights" class="section feature-list">
	<h2 class="tagline">Bookmarkd lets you…</h2>
	<div class="highlights">
		<a><p>Keep track of every book you’ve ever read (or just start from the day you&nbsp;join)</p></a>
		<a><p>Show some love for your favorite books, lists and reviews with a&nbsp;“like”</p></a>
		<a><p>Write and share reviews, and follow friends and other members to read&nbsp;theirs</p></a>
		<a><p>Rate each book on a five-star scale (with halves) to record and share your&nbsp;reaction</p></a>
		<a><p>Keep a diary of your book reading (and upgrade to <strong>Pro</strong>&nbsp;for comprehensive stats)</p></a>
		<a><p>Compile and share lists of books on any topic and keep a readlist of books to&nbsp;see</p></a>
	</div>
</section>

<section id="just-reviewed" class="section ">
	<h2 class="tagline">Just reviewed…</h2>
	<div class=" ">
	</div>
</section>

<section id="popular-reviews-this-week" class="section ">
	<h2 class="tagline">Popular reviews this week…</h2>
	<div class=" ">
	</div>
</section>

<section id="popular-lists" class="section ">
	<h2 class="tagline">Popular lists…</h2>
	<div class=" ">
	</div>
</section>

<section id="popular-reviewers" class="section ">
	<h2 class="tagline">Popular reviewers…</h2>
	<div class=" ">
	</div>
</section>

<section id="recent-stories" class="section ">
	<h2 class="tagline">Recent Stories…</h2>
	<div class=" ">
	</div>
</section>

<section id="recent-showdowns" class="section ">
	<h2 class="tagline">Recent Showdowns…</h2>
	<div class=" ">
	</div>
</section>